:root {
  --primary-color: #494949;
  --secondary-color: #ffffff;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --font-family: "Poppins", sans-serif;
}
nav {
  margin-top: 10px;
  padding: 20px;
}
.navbar-nav {
  display: flex;
  justify-content: end;
  flex: 1;
}
.nav-link {
  margin: 0 10px;
}
.container {
  text-align: start;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}
.container-project {
  padding: 0 120px;
}
.header {
  margin-top: 75px;
  margin-bottom: 75px;
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}
.full-width {
  width: 100vw;
  position: relative;
}
.intro {
  padding-top: 40px;
  font-size: 40px;
  color: #7c7b7b;
  font-family: var(--font-family);
}
h1 {
  color: var(--primary-color);
  font-size: 96px;
  text-align: center;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 250;
  font-size: 96px;
  line-height: 57px;
}
.h1-content {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 200;
  line-height: 80px;
}

h2,
h3 {
  text-align: center;
  color: var(--primary-color);
}

h2 {
  font-size: 48px;
  font-family: var(--font-family);
}
.h2-content {
  font-size: 45px;
  line-height: normal;
  font-weight: 250;
  text-align: start;
  margin-bottom: 20px;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-family);
}
.h3-content {
  font-size: 30px;
  text-align: start;
  margin-bottom: 25px;
}
p {
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.8;
  font-weight: 400;
  font-family: var(--font-family);
}
.p-content {
  line-height: 2;
  margin-bottom: 60px;
}
.p-footer {
  font-weight: 300;
}

a {
  font-family: var(--font-family);
  font-weight: 350;
}
.project-spacing {
  padding: 120px 60px;
}
.h3-intro {
  opacity: 0.9;
  font-size: 25px;
  color: #7c7b7b;
}
.home-section {
  text-transform: capitalize;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.info-paragrahp {
  flex: 1;
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}
.project-info {
  text-align: start;
}
.project-title {
  text-align: start;
  font-weight: 350;
}
.project-description {
  padding: 120px 60px;
}
.inquiry-container {
  padding: 35px;
  border-radius: 6px;
  border: 1px solid #7c7b7b;
  margin-bottom: 35px;
  color: var(--primary-color);
}
.inquiry {
  text-align: start;
  margin-bottom: 0;
  font-weight: 400;
}
.contact {
  color: black;
  font-weight: 350;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.contact:hover {
  text-decoration: underline;
  color: #7c7b7b;
}

.grow {
  transition: all 0.3s ease-in-out;
}
.grow:hover {
  transform: scale(1.4);
}
.start-link {
  background-color: var(--primary-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  padding: 20px 21px;
  margin-right: 20px;
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
}
.start-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: ease-in-out 0.2s;
}
.main-link {
  text-decoration: none;
  color: black;
  background: var(--secondary-color);
  border-radius: 7px;
  border: 1px solid #7c7b7b;
  padding: 20px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main-link:hover {
  background-color: #494949;
  color: #ffffff;
  transition: ease-in-out 0.2s;
}
.job-link {
  text-transform: capitalize;
  border: 1px solid #494949;
  float: right;
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px;
  font-size: 27px;
  color: var(--primary-color);
}
.my-image {
  padding-top: 60px;
}
.project-img {
  width: 550px;
}
.about-img {
  border: 35px solid #f5f5f5;
}
.center-img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 990px) {
  .h3-homepage {
    padding: 10px 10px;
  }
  .project-spacing {
    padding: 50px 30px;
  }
  .project-info {
    text-align: center;
  }
  .project-title {
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 36px;
  }
  .main-link {
    display: block;
    text-align: center;
    margin: 0 10px;
  }
  .job-link {
    text-align: center;
  }
  .inquiry {
    text-align: center;
    font-size: 32px;
  }
  .job-info {
    display: none;
  }
  .h1-content {
    line-height: 61px;
  }
  .h2-content {
    text-align: center;
  }
  .h3-content {
    text-align: center;
  }
  .p-content {
    text-align: center;
    line-height: 1.5;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 36px;
  }
  .h1-content {
    font-size: 26px;
    line-height: 36px;
  }
  .project-info {
    text-align: center;
  }
  .intro {
    font-size: 28px;
  }
  h2 {
    text-align: center;
    font-size: 32px;
  }
  .h2-content {
    font-size: 28px;
  }
  h3 {
    font-weight: 300;
  }
  .h3-content {
    font-size: 20px;
  }
  .h3-intro {
    font-size: 18px;
  }
  .p-content {
    font-size: 15px;
  }
  .contact {
    font-size: 15px;
  }
  .main-link {
    display: block;
    text-align: center;
    margin: 0 10px;
  }
  .inquiry-container {
    display: table-cell;
    margin: 20px;
    margin-bottom: 25px;
  }
  .job-link {
    text-align: center;
  }
  .inquiry {
    text-align: center;
    font-size: 32px;
  }
  .job-info {
    display: none;
  }
}
