:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container {
  text-align: start;
  width: 100%;
  margin-top: 60px;
}
h1,
h2,
h3 {
  text-align: center;
  margin-top: 30px;
}
h1 {
  font-size: 96px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
  margin-bottom: 45px;
}

.info-section {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-transform: capitalize;
}
.primary-link {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  padding: 20px 21px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.primary-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: ease-in-out 0.2s;
}
.secondary-link {
  border: 1px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  padding: 20px 15px;
  margin-left: 20px;
}
.secondary-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: ease-in-out 0.2s;
}
.homepage-link {
  color: var(--primary-color);
}

.info-paragrahp {
  flex: 1;
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}
.info {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}
.contact {
  color: var(--primary-color);
  font-size: 24px;
  text-decoration: none;
}
.contact:hover {
  text-decoration: underline;
}
.main-link {
  text-decoration: none;
  color: black;
  background: var(--secondary-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  padding: 20px 15px;
  margin-right: 20px;
  border: 1px solid var(--primary-color);
}
.project-info {
  text-align: start;
}
.project-title {
  text-align: start;
}
@media (max-width: 576px) {
  .project-img {
    display: none;
  }
  .project-info {
    text-align: center;
  }
  .project-title {
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 32px;
  }
  .main-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
